











/*Fonts:
Heading Font: INLANDERS
Paragraph Font: Coolvetica
*/

/*home page*/
body {
   background-color: #FFF5E9;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 30px;
    align-items: center;
    padding: 10px 20px;
}
.logo {
   display: grid;
   grid-column: 1/1;
   border-radius: 50%;
   width: 170px;
   height: 170px;
}
nav {
    display: grid;
    grid-column: 2/4;
    padding: 40px 40px;
    font-size: 1.5rem; 
    background-image: url("images/navbackdrop.png");
    background-repeat: repeat;   
    background-size: 200px;  
}
nav a {
     display: inline-block;  
     margin: 0 45px;           
     text-decoration: none;
     color: #5be0e6;
     text-shadow: 2px 2px 5px #5be0e6;
}
nav a:hover {
    color: #95e8ec;
}
h1 {
   color: #3C0A3C;
}

/*games page*/
/*
colors:
#5be0e6 - light blue
#ffab59 - light orange
#ff78ff - light pink
#3c0a3c - dark purple
*/
#games_page {
    text-align: center;
    margin: 40px;
}
#intro {
    font-size: 1.3em;
    margin-left: 300px;
    margin-right: 300px;
}
input {
    width: 100%;
}
#games_page h1 {
    font-size: 3em;
    margin-bottom: 0;
}
#posters {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 550px 550px;
}
.game img {
    width: 150px;
}
details {
    max-width: 100%;
    display: flex;
    justify-self: center;

}
#ratings_explained {
    background-color: #3c0a3c;
    color: #5be0e6;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}
#ratings_explained h2 {
    grid-column: 1 / span 5;
    font-size: 2em;
}
#ratings_explained p {
    grid-row: 2/3;
    grid-column: 1 / span 5;
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
}

