











/*Fonts:
Heading Font: INLANDERS
Paragraph Font: Coolvetica
*/
*{
    margin: 0;
    padding: 0;
}
/*home page*/
header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 30px;
    align-items: center;
    padding: 10px 20px;
    background-image: url("images/headerbackdrop.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
    height: 320px;
}
.logo {
   display: grid;
   grid-column: 1/1;
   border-radius: 50%;
   width: 170px;
   height: 170px;
   margin-top: 80px;
}
nav {
    display: grid;
    grid-column: 2/4;
    padding: 40px 40px;
    font-size: 1.5rem;   
}
nav a {
     display: inline-block;  
     margin: 0 45px;           
     text-decoration: none;
     color: #5be0e6;
     text-shadow: 2px 2px 5px #5be0e6;
     margin-top: 80px;
}
nav a:hover {
    color: #95e8ec;
}
.searchbar {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 999px;
}
body {
    background-color: #d7bea4;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
h1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;
    color: #3C0A3C;
    width: 400px;
    margin-top: -280px;
    font-size: 3rem;
}
#heroimage {
    float: right;
    margin-right: 20px;
    border-radius: 5%; 
}
.button {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 130px;
    height: 75px;
    cursor: pointer;
    background-color: #3c0a3c;
    color: #ff78ff;
    font-size: 25px; 
    text-shadow: 2px 2px 5px #ff78ff; 
    border-radius: 12px;
    place-self: center;
}
.belowhero {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}
#ratingsicon {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    float: left;
    width: 100px;
    height: 100px;
}

/*games page*/
/*
colors:
#5be0e6 - light blue
#ffab59 - light orange
#ff78ff - light pink
#3c0a3c - dark purple
*/
#games_page {
    text-align: center;
    margin: 40px;
}
#intro {
    font-size: 1.3em;
    margin-left: 300px;
    margin-right: 300px;
}
input {
    width: 100%;
}
#games_page h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 100px;
}
#posters {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 700px 700px;
}
.game img {
    width: 300px;
    height: 400px;
}
.ratings {
    padding: 0;
    margin: 10px 0;
    text-align: left;
}
details {
    max-width: 100%;
    display: flex;
    justify-self: center;

}
#ratings_explained {
    background-color: #3c0a3c;
    color: #5be0e6;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}
#ratings_explained h2 {
    grid-column: 1 / span 5;
    font-size: 2em;
}
#ratings_explained p {
    grid-row: 2/3;
    grid-column: 1 / span 5;
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
}



/*movies and shows page*/
#moviesandshows {
    text-align: center;
    margin: 40px;
}
#m_intro {
    font-size: 1.3em;
    margin-left: 300px;
    margin-right: 300px;
}
input {
    width: 100%;
}
#movies h1, #shows h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 100px;
    grid-column: 1 / 6;
    grid-row: 1/2;

}
#movies, #shows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 500px;
    max-height: 500px;
    justify-items: center;
    margin-bottom: 100px;
}
.poster_and_details img {
    width: 200px;
    height: 300px;
}
.content-ratings {
    padding: 0;
    margin: 10px 0;
    text-align: left;
}
details {
    max-width: 100%;
    display: flex;
    justify-self: center;

}


